{% extends 'base.html' %}

{% block content %}
<style>
  .card {
    background-color: darkcyan;
    border-radius: 16px;
    padding: 20px;

    h2 {
      border-bottom: 2px solid #000;
    }

    .span {
      border-top: 2px solid #000;
    }
  }
</style>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div>
            {{form}}
        </div>
        <div>
            <button type="submit">teste</button>
        </div>
    </form>
    <div>
        {% for post in posts %}
          <div class="card">
              <h2> 
                {{post.title}}
              </h2>
              <p>
                {{post.content}}
              </p>
              <span class="span">
                {{post.author}},
                {{post.created_at}}
              </span>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}