{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div>
            {{form}}
        </div>
        <div>
            <button type="submit">teste</button>
        </div>
    </form>
    <div>
        {% for post in posts %}
          <div>
              {{post.title}}
              {{post.content}}
              {{post.author}}
              {{post.created_at}}
              <div>
                  {% if {{post.status}} == {{0}} %}
                    <span>curtir</span>
                  {% else %}
                    <span>curtido</span>
                  {% endif %}
              </div>
                curtir
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}