{% extends 'base.html' %}

{% block content %}
 <div class="container">
    <div>
        {% for message in messages %}
        <div class="message">
            <p id="messages">{{message}}</p>
        </div>
        {% endfor %}
    </div>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
            <div>
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
        </div>
        <div>
            <button type="submit">register</button>
        </div>
    </form>
 </div>
{% endblock %}